"*":
  "atom-material-ui":
    colors:
      abaseColor: "#2196f3"
      genAccent: true
      predefinedColor: "Blue"
    fonts: {}
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
  "atom-ui-tweaks":
    editor:
      forceCommentFontStyle: "italic"
      topPadding: "16px"
    findInProject: {}
    status:
      hideVimModePlusStatus: true
    terminal:
      cursorColor: "teal"
      hideAddNewTerminalButton: true
      hideCloseTerminalButton: true
      hideInsertTextButton: true
    tree: {}
    ui:
      atomLogoSplashScreen: true
      compactFuzzyFinder: true
      hideFindAndReplaceCloseButton: true
  core:
    disabledPackages: [
      "linter-rubocop"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/romanox/Projects"
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "no"
    themes: [
      "flexible-ui"
      "monokai-seti"
    ]
    titleBar: "custom-inset"
  editor:
    fontFamily: "Fira Code"
    scrollPastEnd: true
    tabType: "soft"
  "exception-reporting":
    userId: "0e995cde-82be-429c-9da4-30d40ce29e07"
  "goto-definition":
    performanceMode: true
  "isotope-ui":
    fontFamily: "Ubuntu"
    tabSizing: "Minimum"
  "linter-eslint":
    global:
      globalNodePath: "/Users/romanox/.asdf/installs/nodejs/8.6.0/.npm"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "neutron-dark-ui":
    fontSize: 13
  "package-sync": {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#181818"
        blue: "#7cafc2"
        cyan: "#86c1b9"
        green: "#a1b56c"
        magenta: "#ba8baf"
        red: "#ab4641"
        white: "#d8d8d8"
        yellow: "#f7ca88"
      zBright:
        brightBlack: "#585858"
        brightBlue: "#7cafc2"
        brightCyan: "#86c1b9"
        brightGreen: "#a1b56c"
        brightMagenta: "#ba8baf"
        brightRed: "#ab4641"
        brightWhite: "#f8f8f8"
        brightYellow: "#f7ca88"
    core: {}
    style:
      defaultPanelHeight: "400px"
      fontFamily: "Fira Code"
      fontSize: "14"
    toggles:
      autoClose: true
  "seti-syntax":
    dynamicColor: false
  "seti-ui":
    compactView: true
    fileIcons: false
    hideProjectTab: true
  tabs:
    alwaysShowTabBar: false
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
  "vibrance-ui":
    vibrancy: true
  welcome:
    showOnStartup: false
