packages: [
  "advanced-open-file"
  "atom-beautify"
  "atom-html-preview"
  "atom-jest-snippets"
  "atom-material-ui"
  "atom-ui-tweaks"
  "autoclose-html"
  "autocomplete-paths"
  "bracket-colorizer"
  "busy-signal"
  "docblockr"
  "ex-mode"
  "expose"
  "file-icons"
  "flexible-ui"
  "framer-syntax"
  "framer-ui"
  "goto-definition"
  "highlight-selected"
  "hyper-black-ui"
  "hyperclick"
  "intentions"
  "language-graphql"
  "linter"
  "linter-eslint"
  "linter-rubocop"
  "linter-ui-default"
  "macos-mojave-syntax"
  "minimap"
  "minimap-highlight-selected"
  "monokai-seti"
  "multi-cursor"
  "nucleus-dark-ui"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "project-plus"
  "react"
  "relative-numbers-plus"
  "ruby-block"
  "seti-syntax"
  "seti-ui"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
]
